/** @format */
.heart-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.favorites-text-container {
    margin: 4rem 2rem;
    padding: 1rem;
    background-color: #313131;
    // -webkit-box-shadow: 0 0 5px 2px #662d64;
    // -moz-box-shadow: 0 0 5px 2px #662d64;
    border-radius: 5px;

    // box-shadow: 0 0 5px 2px #662d64 0 0 5px 2px #2d6639;

    // border: 1px solid #8ae866;

    -webkit-box-shadow: 0px 0px 7px 3px #8ae866, 0px 0px 10px 13px #662d64;
    -moz-box-shadow: 0px 0px 7px 3px #8ae866, 0px 0px 10px 13px #662d64;
    box-shadow: 0px 0px 7px 3px #8be866a1, 0px 0px 10px 13px#662d6494;
}
.favorites-header {
    font-size: 3rem;
    font-weight: 300;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-bottom: 3px solid #b360b0;
    margin-bottom: 2rem;
}
p {
    line-height: 1.5rem;
}

@media screen and (min-width: 800px) {
    .favorites-text-container {
        margin-top: 8rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 790px;
        .favorites-header {
            margin: 0;
            text-align: left;
            display: inline-block;
            margin-bottom: 2rem;
        }
        p {
            line-height: 1.5rem;
        }
    }
}
