/** @format */

// header {
//     background-color: $main-purple;
//     padding: $left-right-spacing;
//     position: relative;

//     display: flex;
//     justify-content: space-between;

//     // @include single-column-stack;
//     h1 {
//         a {
//             color: $title-color;
//         }
//     }

//     nav ul {
//         @include ul-reset;
//         li {
//             a {
//                 text-decoration: none;
//                 &.active {
//                     color: $hover-text;
//                 }
//             }
//         }
//     }

//     input {
//         width: 10rem;
//         z-index: 200;
//         left: 0;
//     }

//     .search-icon {
//         margin-top: 1rem;
//         position: absolute;
//         right: 80px;

//         color: white;
//     }

//     .search-bar {
//         position: absolute;
//         background-color: red;
//         z-index: 100;

//         width: 100%;

//         width: 10rem;

//         position: absolute;
//         top: 58px;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         margin: auto;
//     }

//     @media (min-width: $break-point-tablet) {
//         header {
//             @include space-between-items(space-between);
//         }

//         .search-bar {
//             position: relative;
//             right: 0;
//             top: 0px;
//             order: 2;
//             margin: auto;
//         }

//         .search-icon {
//             color: black;
//             right: 20px;
//             top: 5px;
//             position: absolute;
//             display: none;
//         }

//         nav ul {
//             li {
//                 display: inline-block;
//                 margin: $generic-spacing;
//             }
//         }
//     }
// }

header {
    display: flex;
    background-color: $main-purple;
    justify-content: space-between;
    position: relative;
    height: 50px;

    h1 {
        padding-left: 2rem;
        padding-top: 0.5rem;
    }
    .logo {
        position: absolute;
        top: 5px;
        left: 0;
        max-height: 32px;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
}

.search-icon {
    position: absolute;
    right: 60px;
    top: 12px;
    font-size: 1.5rem;
    z-index: 10;
}

.search-bar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    background-color: $main-purple;
    padding: 0.5rem;
    text-align: center;
    z-index: 2;
}

.filter-icon {
    position: absolute;
    top: 13px;
    right: 105px;
    font-size: 1.5rem;
    z-index: 10;
}
.nav-sort1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 34px;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width: $break-point-tablet) {
    header {
        h1 {
            z-index: 100;
        }
        .logo {
            position: static;
            max-height: 37px;
            margin-top: -5px;
            z-index: 1000;
            padding-left: 0;
        }
    }

    .search-bar {
        top: 0;
        right: 0;
        margin: 0;
        text-align: end;
        background-color: none;
    }
    .search-icon {
        right: 21px;
        position: absolute;
        color: #c2c2c2;
        z-index: 100;
        top: 16px;
        font-size: 1rem;
    }
    .filter-icon {
        display: none;
    }
}
