/** @format */

.movie-card {
    position: relative; // card itself is container
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: $generic-spacing2;

    img {
        display: block; // allows for the image to stretch the height of it's container
    }

    .movie-info {
        //first P tag in movie info
        :nth-child(1) {
            margin-bottom: 5px; 
        }
        :nth-child(2) {
            margin-bottom: 0px; 
        }
        
        position: relative;
        height: 100px;
        .heart-icon {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .rating {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: nowrap;
        }

        p {
            max-width: 90%; // creating room for icons
        }

        background-color: $main-purple;
        padding: $generic-spacing2;
        //curvature for bottom of cards
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card-button {
        background-color: $main-purple;
        position: absolute;
        z-index: -1;
        //center more info button within a movie-card
        left: 27%;
        margin: auto;
        bottom: 110px; //place button 110 px away from the bottom of a card
        background-color: $second-green;
        border-radius: 30px;
        border: none;
        padding: 7px 30px;

        a {
            text-decoration: none;
        }
    }

    //to be tweaked so for an image
    &:hover {
        .card-button {
            z-index: 10;
        }
    }
}
.movie-poster{
    .movie-div {
        .hover-text {
            display: none;
            .hover-info {
                position: absolute;
                top: 0%;
                width: auto;
                height:max-content;
                overflow: auto;
                text-align: justify;
                height: 70%;
                padding: 20px;
                background-color: rgba(56, 56, 56, 0.8);
                height: 90%;
                padding-bottom: 100px;
            }  
        }
    }
}


.movie-poster:hover .hover-text {
    display: block;
    background-color: rgba(56, 56, 56, 0.8);
}

