.movie-card {
    
    position:relative; // card itself is container
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: $generic-spacing2;


    img {
        display:block; // allows for the image to stretch the height of it's container
        width:100%;  
    }

    .movie-info{
        background-color: $main-purple;
        padding: $generic-spacing2;
        //curvature for bottom of cards
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card-button{
        background-color: $main-purple;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 110px;
        margin: auto;
        position: absolute;

        background-color: $second-green;
        border-radius: 5px;
        border: none;
        padding: 7px 30px;

        a {
            text-decoration: none;
        }
    }

    //to be tweaked so for an image 
    &:hover {
        .card-button {
            z-index: 10;
        }
    }
    
}