/** @format */

.movie-card {
    position: relative; // card itself is container
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: $generic-spacing2;

    img {
        display: block; // allows for the image to stretch the height of it's container
        width: 100%;
    }

    .movie-info {
        //first P tag in movie info
        :nth-child(1) {
            margin-bottom: 5px; 
        }
        :nth-child(2) {
            margin-bottom: 0px; 
        }
        position: relative;
        height: 100px;
        .heart-icon {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .rating {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: nowrap;
        }

        p {
            max-width: 90%; // creating room for icons
        }

        background-color: $main-purple;
        padding: $generic-spacing2;
        //curvature for bottom of cards
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card-button {
        background-color: $main-purple;
        position: absolute;
        z-index: -1;
        //center more info button within a movie-card
        left: 0;
        right: 0;
        margin: auto;
        bottom: 110px; //place button 110 px away from the bottom of a card
        background-color: $second-green;
        border-radius: 30px;
        border: none;
        padding: 7px 30px;

        a {
            text-decoration: none;
        }
    }

    //to be tweaked so for an image
    &:hover {
        .card-button {
            z-index: 10;
        }
    }
}

.movie-div {
    background-color: black;
    // display: none;
}

 .hover-name {
        position: absolute;
        left: 3%;
        top: 0.5%;
    }
    .hover-info {
        position: absolute;
        top: 0%;
        background-color:#69696D;
        width: auto;
        height: 350px;
        overflow: auto;
        text-align: justify;
        padding: 20px;
        opacity: 0.7;
    }
.hover-text {
    display: none;
}
.movie-poster:hover .hover-text {
    display: block;
}

.movie-poster:hover .movie-div {
    display: block;
}
