/** @format */

/////////

// .btn {
//     display: none;
// }
// .menu {
//     background-color: $main-purple;
//     // display: flex;
//     // flex-direction: column;
//     height: 100%;
//     position: relative;
//     cursor: pointer;
//     text-align: center;
//     flex-wrap: no;
//     // background-color: red;
//     padding-left: 9.8rem;
// }

// .btn {
//     display: none;
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin: auto;
//     padding: 1rem;
// }

// @media screen and (max-width: $break-point-tablet) {
//     .btn {
//         display: block;
//         top: 0;
//     }
//     .menu {
//         position: absolute;
//         width: 100%;
//         z-index: 1;
//         top: 135px; /* position the top  edge of the element at the middle of the parent */
//         left: 50%; /* position the left edge of the element at the middle of the parent */

//         transform: translate(-50%, -50%);
//         flex-direction: column;
//         height: auto;
//         background-color: grey;
//         li {
//             padding: 1rem;
//             border-top: 1px solid white;
//         }
//     }

// }

.nav {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    list-style: none;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 34px;
    z-index: 1;
}

ul {
    padding-top: 1.5rem;

    background-color: $second-purple;
}

li {
    list-style: none;
    padding: 1rem;
}

.btn {
    position: absolute;
    top: 12px;

    bottom: 50%;
    right: 20px;
    font-size: 1.5rem;
}

// .search-bar {
//     background-color: $second-purple;
// }

@media screen and (min-width: $break-point-tablet) {
    h1 {
    }
    .nav {
        position: static;
    }
    .menu {
        position: absolute;
        display: flex;
        background-color: $main-purple;
        width: 45%;
        left: 250px;
        // transform: translateY(-66px);
        // height: 50px;
        padding-left: 0;
        top: -25px;

        li {
            width: 100%;
            justify-content: space-between;
            z-index: 200;
            text-align: center;
        }
    }
    .btn {
        display: none;
    }
    .search-bar {
        position: absolute;
        right: 33px;
        top: 11px;
    }
    h1 {
        position: absolute;
    }
    li {
        padding: 0;
        padding-right: 2rem;
    }
}
