/** @format */

.single-movie-page {
    margin: 1.25rem;
}

.single-movie {
    padding: 0.625rem;
    margin: 0 auto;
    max-width: 43.75rem;
    position: relative;
    
    .single-movie-content {
        max-width: 90%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;

        background-color: #313131;
        border-radius: 5px;
        box-shadow: 0px 0px 7px 3px #8be866a1, 0px 0px 10px 13px #662d6494;

        .single-page-title {
            border-bottom: 3px solid #b360b0;
            display: inline;
        }
        .single-movie-info {
            padding: 1rem;
        }
        .heart-icon {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
        }

        .icon-flex {
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            align-content: center;
        }

        @media (min-width: $break-point-tablet) {
            max-width: 100%;
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-gap: 1rem;
        }
    }

    img {
        width: 100%;
    }
}
