/** @format */

.single-movie-page {
    margin: 1.25rem;

    .single-movie {
                
        img {
            width: 100%;
            display:block; //image fills up container
        }

        padding: 0.625rem;
        margin: 0 auto;
        
        position: relative;
    
        .single-movie-content {        
            max-width: 400px; // maximum container width mobile
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: #313131;
            border-radius: 5px;
            box-shadow: 0px 0px 7px 3px #8be866a1, 0px 0px 10px 13px #662d6494;
            
            .single-movie-poster{
                img{
                    padding: 1rem;
                }
            }
    
            .single-movie-info {
                padding: 1rem;
                // container that stores icon and heart button
                p {
                    margin-top: 10px; //spacing between text and title
                }
                .icon-flex {
                    .single-page-title {
                        font-size: 1.4rem; //change font size on mobile
                        border-bottom: 3px solid #b360b0;
                        display: inline;
                        margin: 0px;
                    }
                    
                    //heart icon size
                    .heart-icon {
                        width: 45px;
                        height: 45px;
                        background-color: transparent;
                        border: none;
                    }
                    
                    @include space-between-items(space-between);
                    flex-wrap: nowrap;
                }
            }
        }
        @media (min-width: $break-point-tablet) {
            max-width: 46.875rem;

            .single-movie-content{
                max-width: 100%;
                display: grid;
                grid-template-columns: 300px 1fr;
                grid-gap: 1rem;
    
                .single-movie-poster{
                    img{
                        padding: 0rem;
                    }
                }

                .single-movie-info {
                    padding: 1rem;
                    // container that stores icon and heart button
                    p {
                        margin-top: 10px;
                    }
                    .icon-flex {
                        .single-page-title {
                            font-size: 1.6rem; //font size tablet
                        }
                    }
                }
            }
        }
    }
}


