/** @format */

$generic-spacing: 1rem;
$generic-spacing2: 0.625rem;

$left-right-spacing: 0rem 0.625rem 0rem 0.625rem;

$break-point-tablet: 800px;
$break-point-desktop-small: 1200px;
$break-point-desktop-large: 1500px;

//variable declarations
$title-color: #d1add0;
$second-purple: #b360b0;
$main-purple: #662d64;
$main-green: #58b32b;
$second-green: #40662d;
$background-color: #1e1c1c;
$background-content: #2d2a2a;
$hover-text: #fbfd37;
$text-color: #ffffff;
