$generic-spacing: 1rem;
$generic-spacing2: 0.625rem;

$left-right-spacing: 0rem 0.625rem 0rem 0.625rem; 

$break-point-tablet: 800px;
$break-point-desktop: 75rem;

//variable declarations
$title-color: #D1ADD0;
$second-purple: #B360B0 ; 
$main-purple: #662D64;
$main-green: #58B32B;
$second-green: #40662D;
$background-color: #1E1C1C;
$background-content: #2D2A2A;
$hover-text: #FBFD37;
$text-color: #FFFFFF;
